/* Error: Undefined variable.
 *     ,
 * 190 |             border-radius: $custom-switch-indicator-border-radius;
 *     |                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   puerto compostela\scss\bootstrap\scss\_custom-forms.scss 190:19  @import
 *   puerto compostela\scss\bootstrap\scss\bootstrap.scss 24:9        @import
 *   puerto compostela\scss\style.scss 22:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 190 \2502              border-radius: $custom-switch-indicator-border-radius;\a     \2502                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   puerto compostela\\scss\\bootstrap\\scss\\_custom-forms.scss 190:19  @import\a   puerto compostela\\scss\\bootstrap\\scss\\bootstrap.scss 24:9        @import\a   puerto compostela\\scss\\style.scss 22:9                           root stylesheet";
}
